body {
    background-color: #dddddd;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 400px;
    text-align: center;
    height: 70px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.btn {
    position: relative;
    top: 75%;
    left: 6%;
    width: 205px;
    height: 50px;
    color: white;
    background-color: #4aaaa5;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
}


.col-sm {
    align-content: center;
}


#photo {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 220px;
    margin-left: 70px;
    position: relative;
}

.btn {
    position: static;
    margin-left: 70px;
}

.col-sm-4-nav {
    background-color: #f8f9fa;
    width: 40%;
}

.col-sm-8-nav {
    background-color: #f8f9fa;
    width: 60%;
    
}

.container {
    width: 70%;  
}

.row-index {
    background-color: #ffffff;
    position: static;
    text-align: center;
}

.row-portfolio {
    background-color: #4aaaa5;
    position: static;
    text-align: center;
}

.col-index {
    height: 500px;
    width: 70%;
}

.col-portfolio {
    background-color:blue;
    width: 50%;
}

p {
    text-align: left;
}


.form-group {
    position: relative;
    left: 100px;
    width: 33%;
}

.btn-outline-success
{
    width: 10%;
    margin-left: 100px;
}

.footer {
    position: static;
    height: 50px;
    width: 100%;
    align-content: center;
    background-color: #666666;
    text-align: center;
}